@keyframes bounce {

    0%,
    100% {
        transform: translateY(10px);

    }

    50% {
        transform: translateY(-10px);

    }
}

.bounce-icon {
    display: inline-block;
    animation: bounce 0.8s infinite;
    color: red;
    font-size: 35px;
}

#title_a {
    color: red;
    font-size: 30px;
}
.img-1 {
    border-radius: 10px;
    width: 100%;
}


.inner-main .container .inner-content .inner-top {
    position: relative;
    margin-bottom: 20px;
}

.inner-main .container .inner-content .inner-title {
    position: absolute;
    font-size: 23px;
    bottom: -10px;
    left: 50px;
}

.inner-box-1 img {
    width: 100%;
    border-radius: 10px;

}

.inner-main .container .inner-content .inner-bottom .inner-box-1 {
    border: 1px solid darkgrey;
    border-radius: 10px;
    padding: 5px;
    height: 480px;
}

.inner-main .container .inner-content .inner-bottom .inner-box-1 .inner-title-1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;

}

.inner-main .container .inner-content .inner-bottom .inner-box-1 .inner-date {
    margin-bottom: 20px;
    color: darkgray;
}

.inner-main .container .inner-content .inner-bottom .inner-box-1 .inner-desc-1 {
    margin-bottom: 20px;
    color: darkgray;
    font-size: 14px;
}

.inner-social {
    background-color: rgb(208, 203, 203);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 60px;
}

.inner-social .inner-thamGia {
    text-align: center;
}

.inner-social .inner-thamGia span {
    margin-bottom: 10px;
    display: block;
}

.youtube,
.zalo {
    background-color: #E52828;
    text-align: center;
    border-radius: 10px;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
    width: 100%;

}

.inner-icon {
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;



}

.face {
    background-color: #0063D1;
    text-align: center;
    border-radius: 10px;
    padding: 10px 0px;
    color: white;
    cursor: pointer;

    width: 100%;
}

.zalo {
    background-color: #0FA8E1;
    width: 100%;

}

.face img {
    height: 40px;
}

.inner-baiViet .inner-thamGia {
    text-align: center;
}

.inner-baiViet {
    border: 1px solid darkgrey;
    border-radius: 10px;
}

.inner-banner {
    margin-bottom: 20px;
}

.inner-tags button {
    border: 1px solid skyblue;
}

.aa {
    font-weight: bold;
}

.inner-resouce {
    text-align: right;
    font-style: italic;
}

.inner-title-111 span {
    font-size: 35px;
    font-weight: bold;
}

.inner-title-111 {
    margin-bottom: 20px;

}

.inner-date span {
    font-style: italic;
}

.inner-date {
    margin-bottom: 20px;
    color: rgb(140, 139, 139);

}

.inner-main .inner-content .inner-content {
    color: rgb(83, 81, 81);
    margin-bottom: 20px;
    margin-top: 30px;
}

.inner-main .inner-content .inner-img {
    text-align: center;

}

.inner-main .inner-content .inner-img img {
    width: 80%;
    border-radius: 10px;
    cursor: pointer;
}

.inner-img {
    position: relative;
    overflow: hidden;
    height: auto;
}

.inner-img img {
    height: auto;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    border-radius: 10px;

}

.inner-img:hover img {
    transform: scale(1.05);
    border-radius: 10px;

}
.inner-bonus{
    margin-top: 30px;

}
.inner-bonus a{
    color: black;
    font-weight: bold;
    font-size: 30px;
}
.inner-baiViet .inner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: -20px;
    height: 128px;

}

.inner-baiViet .inner-box .inner-img {
    width: 30%;
}

.inner-baiViet .inner-box .inner-content {
    text-align: left;
    flex: 1;
    margin-left: 10px;
    color: rgb(109, 109, 109);
    font-size: 15px;
}

.inner-box-1 img,
.inner-top .img-1,
.inner-baiViet .inner-box .inner-img img {
    transition: transform 0.3s;
    cursor: pointer;
}

.inner-box-1 img:hover,
.inner-top .img-1:hover,
.inner-baiViet .inner-box .inner-img img:hover {
    transform: scale(1.1);

    /* Phóng to 10% */
}

.inner-box-1,
.inner-top,
.inner-baiViet .inner-box {
    transition: opacity 0.3s;
    overflow: hidden;
    border-radius: 10px;
}

.inner-img-1111 {
    margin-top: 50px;
}

.inner-img-1111 img {
    border-radius: 10px;
}
.inner-banner img{
    width: 100%;
    margin-bottom: 10px;

}