*{
    box-sizing: border-box;
    margin-top: 0px;
    padding: 0px;

}


/*  inner-footer */
.inner-footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
