.shopping {
    margin-top: 100px;
    margin-bottom: 20px;
}

.table-header,
.table-row {
    padding: 10px 0;
    border-bottom: 1px solid #dee2e6;
}

.table-header>div,
.table-row>div {
    flex: 1;
    text-align: center;
}

.shopping .container .inner-box .inner-title {
    font-size: 20px;
    font-weight: bold;
    color: red;
}