@keyframes bounce {

    0%,
    100% {
        transform: translateY(10px);

    }

    50% {
        transform: translateY(-10px);

    }
}

.bounce-icon {
    display: inline-block;
    animation: bounce 0.8s infinite;
    color: red;
    font-size: 35px;
}

#title_a {
    color: red;
    font-size: 30px;
}
.sitemap .container .inner-wrap {
    margin-bottom: 100px;
    text-align: center;
    margin-top: 100px;
}

.sitemap .container .inner-wrap img {
    width: 80%;
    /* Điều chỉnh kích thước ảnh */
}

/**/
#map {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* Để không chặn các sự kiện chuột của hình ảnh */
}

.area {
    position: absolute;
    display: block;
    pointer-events: auto;
    /* Cho phép tương tác với các khu vực này */
    /* Chỉnh sửa kích thước và vị trí cho từng khu vực */
}

.home {
    /* Kích thước và vị trí của Home */
    top: 0px;
    left: 485px;
    width: 90px;
    height: 90px;
    /* Thay đổi theo tọa độ của bạn */
    /* Màu nền trong suốt */
}

.product {
    /* Kích thước và vị trí của Product */
    top: 225px;
    left: 165px;
    width: 100px;
    height: 100px;
}

.about {
    top: 240px;
    /* Cập nhật tọa độ cho About */
    left: 333px;
    /* Cập nhật tọa độ cho About */
    width: 90px;
    height: 90px;
}

.contact {
    top: 230px;
    /* Cập nhật tọa độ cho Contact */
    left: 490px;
    /* Cập nhật tọa độ cho Contact */
    width: 100px;
    height: 100px;
}

.sitemapa {
    top: 230px;
    left: 600px;
    width: 130px;
    height: 100px;
}

.login {
    top: 230px;
    left: 750px;
    width: 75px;
    height: 120px;
}

.shopping {
    top: 240px;
    /* Cập nhật tọa độ cho Shopping */
    right: 140px;
    /* Cập nhật tọa độ cho Shopping */
    width: 100px;
    height: 90px;
}

.productDetail {
    top: 450px;
    left: 130px;
    width: 133px;
    height: 110px;
}

.support {
    top: 460px;
    left: 470px;
    width: 130px;
    height: 110px;

}

.advertising {
    top: 460px;
    left: 340px;
    width: 100px;
    height: 110px;
}

.article1 {
    top: 700px;
    left: 350px;
    width: 93px;
    height: 90px;
}

.article2 {
    top: 700px;
    left: 500px;
    width: 100px;
    height: 90px;
}

.infoPersonal {
    top: 465px;
    right: 270px;
    width: 100px;
    height: 105px;
}

.shoppingCart {
    top: 465px;
    right: 130px;
    width: 130px;
    height: 100px;
}

.bought {
    bottom: 0;
    /* Cập nhật tọa độ cho Bought */
    left: 150px;
    /* Cập nhật tọa độ cho Bought */
    width: 110px;
    height: 110px;
}

.tutorial {
    top: 455px;
    left: 620px;
    width: 100px;
    height: 110px;

}